* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  height: 100vh;
  overflow: hidden;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100px;
}

.search-name {
  margin-bottom: 11px;
  width: 250px;
  text-align: center;
}

.search-input {
  width: 331px;
  height: 28px;
  border-radius: 5px;
  border: 1px solid rgb(34, 145, 219);
  outline: none;
}

.search-input:focus {
  font-size: 16px;
}

.anime {
  color: #fff;
  background-color: rgb(34, 145, 219);
  padding: 5px;
  border-radius: 5px;
}

.content-wrapper {
  display: flex;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
  height: 100vh;
  border-right: 1px solid red;
  border-top: 1px solid red;
}

.sidebar-name {
  color: rgb(34, 145, 219);
  font-size: 22px;
  transition: 300ms;
}

.sidebar-name:hover {
  font-size: 25px;
}

.view-wrapper {
  display: flex;
  flex: 3;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top: 1px solid red;
  background-color: lightblue;
}

.top-ten-animes {
  line-height: 30px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  margin: 20px;
}

.score-year {
  display: flex;
  justify-content: space-around;
}

.top-ten-title {
  text-align: center;
  font-size: 17px;
  color: rgb(78, 78, 78);
}

.top-ten-form {
  text-align: center;
}

.top-ten-score {
  font-weight: 600;
  background-color: rgb(22, 80, 22);
  color: #fff;
  padding: 0px 3px 0px 3px;
  border-radius: 5px;
}

.top-ten-year {
  font-weight: 600;
  background-color: rgb(233, 233, 45);
  /* color: #fff; */
  padding: 0px 3px 0px 3px;
  border-radius: 5px;
}

.top-submit {
  border: none;
  padding: 2px 4px 2px 4px;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(55, 131, 194);
  color: #fff;
}